{% extends 'base.html.twig' %}

{% block title %}SymphArt Articles{% endblock %}

{% block body %}
    <div id="app">
        {% if articles %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Article Title</th>
                        <th>Actions</th>
                    </tr>
                </thead>

                <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.title }}</td>
                        <td>
                            <a href="/article/{{ article.id }}" class="btn btn-dark">Show</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <h2 class="text-center">No Articles to display</h2>
        {% endif %}
    </div>
{% endblock %}
