{% extends 'base.html.twig' %}

{% block title %}SymphArt Articles{% endblock %}

{% block body %}
    <div id="app">
        <div class="container">
            <h2>Articles</h2>
        </div>
    </div>
{% endblock %}
