<nav class="navbar navbar-expand-sm navbar-dark  mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">SymphArt</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">


{#                put a check here when user is authenticated #}
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>